ADMIN_USER='sho'
ADMIN_PASSWORD_HASH='$6$replace$me'
SSH_PUBKEY='ssh-ed25519 AAAA... you@laptop'
HOST_NAME='p3'
TIMEZONE='America/New_York'
INSTALL_DISK='nvme0n1'
WIFI_SSID='YourNetwork'
WIFI_PSK='your-wifi-password'
